@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<form action="Verify" method="post">
    <div class="container-fluid h-100">
        <div class="d-flex justify-content-center h-100 m-5">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <div class="logo brand_logo_container">
                        <img src="https://en.pimg.jp/058/104/869/1/58104869.jpg" class="brand_logo" alt="Logo" />
                    </div>
                </div>
                <div class="row" style="margin-top:60px;" >
                    <div class="input-group" >
                     <i class='fas fa-user-alt bg-danger mt-5 p-3' style="font-size:20px; color:white; "></i> <input type="text" class="form-control col-md-10 mt-5" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">                  
                    </div>
                

                 <div class="input-group" >
                     <i class='fa fa-key icon bg-danger mt-2 p-3' style="font-size:20px; color:white; "></i> <input type="text" class="form-control col-md-10 mt-2" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">                  
                    </div>
                <div class="d-grid gap-2 mt-3 ">
                    <button class="btn btn-success" type="button">Submit</button>
                    <button class="btn btn-danger mt-2" type="button">Cancel</button>
                </div>
              
                </div>
                <div class="mt-4 mb-4">
                    <div class="d-flex justify-content-center links">
                        Don't have an account? <a href="#" class="ml-2">Sign Up</a>
                    </div>
                    <div class="d-flex justify-content-center links">
                        <a href="#">Forgot your password?</a>
                    </div>
                </div>

            </div>
        </div>

    </div>


</form>